<p>
<!--    <a href="{% url 'timesheets:index' %}">Time Sheets</a> - -->
    <a href="{% url 'timesheets:view_timesheet' %}">Timesheet</a> -
    {% if user.is_authenticated %}
      Hello, {{ user.username }}.
      <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'users:register' %}">Register</a> -
      <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}
