{% extends "timesheets/base.html" %}

{% block content %}
    <h1>Timesheet</h1>
    <p>Timesheet helps you keep track of your projects, clients, activities and working hours.</p>
{% endblock content %}