{% extends "timesheets/base.html" %}

{% block content %}

    <p>New timesheet</p>
    <form action="{% url 'timesheets:newtimesheet' %}" method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">Add timesheet</button>
    </form>

{% endblock content %}
